@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 164 86% 12%;
    /* #043927 */
  }
}

body {
  @apply bg-brand-light text-brand-primary antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 4s ease-in-out infinite;
  }

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}