@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-neutral-950 text-white antialiased selection:bg-amber-400 selection:text-neutral-950;
  background-color: #0A0A0C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 4s ease-in-out infinite;
  }

  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}